{% layout 'public-layout', route: 'leaderboard' %}
{% block content %}
  <div class="section window leaderboard twelve columns resizable draggable">
    <div class="title flex between">
      <p>{{ page.leaderboard.title }}</p>
      <button class="btn close">
        <span class="visually-hidden">Click or press ESC to close</span>
      </button>
    </div>
    <div class="wrapper">
      <div class="row">
        <div class="one column"><p>Rank</p></div>
        <div class="six columns"><p>User</p></div>
        <div class="one columns t-right nnom"><p>Right</p></div>
        <div class="two columns t-right nnom"><p>Contributions</p></div>
        <div class="two columns t-right"><p>Average</p></div>
      </div>
      <ul class="leader">
        {% for user in page.leaderboard.users %}
          <li class="clearfix">
            <div class="one column"><p>1</p></div>
            <div class="six columns"><p><a class="profile-link" href="#">{{ user }}</a></p></div>
            <div class="one columns t-right nnom"><p>5</p></div>
            <div class="two columns t-right nnom"><p>6</p></div>
            <div class="two columns t-right"><p>83.33%</p></div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section window leaderboard twelve columns resizable draggable">
    <div class="title flex between">
      <p>{{ page.challenges.title }}</p>
      <button class="btn close">
        <span class="visually-hidden">Click or press ESC to close</span>
      </button>
    </div>
    <div class="wrapper">
      <div class="row">
        <div class="one column"><p>Season</p></div>
        <div class="two columns"><p>Title</p></div>
        <div class="four columns"><p>Description</p></div>
        <div class="three columns nnom"><p>Author</p></div>
        <div class="one columns nnom"><p>Real or 3D?</p></div>
        <div class="one columns t-right"><p>Outlets?</p></div>
      </div>
      <ul class="leader">
        {% for challenge in page.challenges.challenges %}
          <li class="clearfix">
            <div class="one column"><p>{{ challenge.season }}</p></div>
            <div class="two columns"><p><a class="profile-link" href={{challenge.url}} target="_blank">{{ challenge.title }}</a></p></div>
            <div class="four columns nnom"><p>{{ challenge.description }}</p></div>
            <div class="three columns nnom"><p>{{ challenge.author }}</p></div>
            <div class="one columns nnom">
              <p>
                {% if challenge.type == 0 %}
                  3D
                {% else %}
                  Real
                {% endif %}
              </p>
            </div>
            <div class="one columns t-right">
              <p>
                {% if challenge.outlets == 1 %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}