{% layout 'public-layout', route: 'leaderboard' %}
{% block content %}
  {% for app in site.applications %}
    {% if app.open %}
      <div class="section window resizable draggable {% if app.default %}active{% endif %}" data-id="{{ app.id }}" style="left: {{ app.pos_x }}; top: {{ app.pos_y }};">
        <div class="title flex between">
          <p>{{ app.title }}</p>
          <button class="btn close" data-id="{{ app.id }}">
            <span class="visually-hidden">Click or press ESC to close</span>
          </button>
        </div>
        <div class="wrapper">
          <div class="row">
            <div class="one column"><p>Rank</p></div>
            <div class="six columns"><p>Challenge</p></div>
            <div class="one columns t-right nnom"><p>Real</p></div>
            <div class="two columns t-right nnom"><p>Contributions</p></div>
            <div class="two columns t-right"><p>Average</p></div>
          </div>
          <ul class="leader">
            
          </ul>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}